
thead:first-child {
    background-color: rgb(100, 100, 100);
    color: white;
}



tr:nth-child(3) {
    background-color: rgb(200, 200, 200);
}

tr:nth-child(5) {
    background-color: rgb(200, 200, 200);
}

tbody :nth-child(7){
    background-color: rgb(200, 200, 200);
}
tbody :nth-child(7){
    background-color: rgb(200, 200, 200);
}
tbody :nth-child(9){
    background-color: rgb(200, 200, 200);
}
tbody :nth-child(11){
    background-color: rgb(200, 200, 200);
}
tbody :nth-child(13){
    background-color: rgb(200, 200, 200);
}
tbody :nth-child(15){
    background-color: rgb(200, 200, 200);
}

td a {
    text-decoration: none;
}

tr:hover {
    background-color: yellow;
}